
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div class="product-content"><!--Our custom class-->
  <% cache [I18n.locale, current_pricing_options, @product] do %>
    <div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
      <% @body_id = 'product-details' %>
      <div class="portfolio-content">
          <!--Title and Subtitle-->
          <!--<div class="cbp-l-project-title">Project One</div>
          <div class="cbp-l-project-subtitle">by lorem ipsum</div>-->
          <!--/Title and Subtitle-->

          <!--<div class="columns six alpha" data-hook="product_left_part">-->
          <div class="" data-hook="product_left_part">
            <div class="row" data-hook="product_left_part_wrap">

              <div id="product-images" data-hook="product_images">
                <div id="main-image" data-hook>
                  <%= render :partial => 'spree/products/image' %>
                </div>
                <!--<div id="thumbnails" data-hook>
                  <%= render :partial => 'spree/products/thumbnails' %>
                </div>-->
              </div>

              <!--product details WAS HERE-->

              <div data-hook="promotions">
                <%= render :partial => 'spree/products/promotions' %>
              </div>

            </div>
          </div>

          <div class="buy-buttons-container">
            <% unless @online_stores.count == 0 %>
              <a target="_blank" class="cbp-l-project-details-visit btn-large red uppercase btn-buy-online">BUY ONLINE</a>
            <% end %>
            <% unless @brick_and_mortar_stores.count == 0 %>
              <a target="_blank" class="cbp-l-project-details-visit btn-large red uppercase btn-try-instore" onclick="displayMap()">TRY IN STORE</a>
            <% end %>
          </div>

          <div class="columns ten omega" data-hook="product_right_part">
            <div class="row" data-hook="product_right_part_wrap">

              <div id="product-description" data-hook="product_description">


                <!--<div id="cart-form" data-hook="cart_form">-->
                  <!--<%= render :partial => 'spree/products/cart_form' %>-->
                <!--</div>-->

              </div>

              <!--<%= render :partial => 'spree/products/taxons' %>-->

            </div>

          </div>


          <div class="cbp-l-project-container">
              <!--Description-->
              <div class="cbp-l-project-desc">
                  <div class="cbp-l-project-desc-title">
                      <span><%= @product.name %></span>
                  </div>
                  <div class="cbp-l-project-desc-text"><%= product_description(@product) rescue Spree.t(:product_has_no_description) %></div>
              </div>
              <!--/Description-->
              <!--/Detail List-->
              <div class="cbp-l-project-details">
                  <div class="cbp-l-project-details-title">
                      <span>Project Details</span>
                  </div>
                   <!-- List-->
                    <div data-hook="product_properties">
                      <%= render :partial => 'spree/products/properties' %>
                    </div>
                   <!--/List-->
                  <a href="#" target="_blank" class="cbp-l-project-details-visit btn red uppercase">visit the site</a>
              </div>
              <!--/Detail List-->
          </div>
          <!--/Container-->
          <!--Container 2-->
          <!--<div class="cbp-l-project-container">
              <div class="cbp-l-project-related">
                  --Title--
                  <div class="cbp-l-project-desc-title">
                      <span>Related Projects</span>
                  </div>
                  --/Title--
                  --Related List--
                  <ul class="cbp-l-project-related-wrap">
                      <li class="cbp-l-project-related-item">
                          <a href="#" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                                  <iframe class="vimeo"src="https://player.vimeo.com/video/201673190" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                              <div class="cbp-l-project-related-title">Project Title</div>
                          </a>
                      </li>
                      <li class="cbp-l-project-related-item">
                          <a href="#" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                                  <iframe class="vimeo"src="https://player.vimeo.com/video/201673190" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                              <div class="cbp-l-project-related-title">Project Title</div>
                          </a>
                      </li>
                      <li class="cbp-l-project-related-item">
                          <a href="#" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                                  <iframe class="vimeo"src="https://player.vimeo.com/video/201673190" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                              <div class="cbp-l-project-related-title">Project Title</div>
                          </a>
                      </li>
                  </ul>
                  --/Related List--
              </div>
          </div>-->
          <!--/Container 2-->
          <br>
          <br>
          <br>
          <!-- /.modal Google Maps -->
         <div class="buy-online-section">
            <% if @online_stores.count == 0 %>
                <div class="row voucher-section">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-8">
                  <h1>We're sorry. We couldn't find any stores with this item.</h1>
                  <h1>Please try to buy in a brick and mortar instead.</h1>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
            <% else %>
                <div class="row voucher-section">
                  <div class="col-md-2">
                  </div>
                  <div class="col-xs-4">
                    <% if spree_current_user %>
                      <h1>PUT VOUCHER CODE HERE</h1>
                    <% else %>
                      <a href="#" target="_blank" class="btn-get-voucher" data-toggle="modal" data-target="#myModal">GET VOUCHER</a>
                    <% end %>
                  </div>
                  <div class="col-xs-6">
                    <div class="voucher-description">Get 10% off this item with a voucher in one of the following stores.</div>
                  </div>
                </div>
                <div class="row">
                  <% @online_stores.each do |store, product_url_for_third_party_store| %>
                    <div class="col-md-4">
                    <!--<img src="http://seeklogo.com/images/F/FAKE_studio-logo-DDD8B4C844-seeklogo.com.gif" style="width:100%;height:100%;">
                    <h5><strong><%= store.name %></strong></h5>-->
                      <div class="cbp-l-project-details">
                          <% if product_url_for_third_party_store.blank? == true %>
                            <a href="<%= store.url %>" target="_blank" class="cbp-l-project-details-visit btn red uppercase"><%= store.url %></a>
                          <% else %>
                            <a href="<%= product_url_for_third_party_store %>" target="_blank" class="cbp-l-project-details-visit btn red uppercase"><%= product_url_for_third_party_store %></a>
                          <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
            <% end %>
          </div>
          <div class="buy-offline-section">
            <% if @brick_and_mortar_stores.count == 0 %>
              <div class="row voucher-section">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                <h1>We're sorry. We couldn't find any stores with this item.</h1>
                <h1>Please try to buy online instead.</h1>
                <div class="col-md-2">
                </div>
              </div>
            <% else %>
              <div class="row voucher-section">
                <div class="col-md-2">
                </div>
                <div class="col-xs-4">
                  <% if spree_current_user %>
                    <h1>PUT VOUCHER CODE HERE</h1>
                  <% else %>
                    <a href="#" target="_blank" class="btn-get-voucher" data-toggle="modal" data-target="#myModal">GET VOUCHER</a>
                  <% end %>
                </div>
                <div class="col-xs-6">
                    <div class="voucher-description">Get 10% off this item with a voucher in one of the following stores.</div>
                </div>
              </div>
              <div class="row">
                <% @brick_and_mortar_stores.each do |store, product_url_for_third_party_store| %>
                  <div class="col-md-6">
                      <img src="http://assets.inhabitat.com/wp-content/blogs.dir/1/files/2014/03/Concept-Fashion-Store-King-George-16.jpg" alt="Mountain View" style="width:100%;height:100%;">
                      <h5><strong><%= store.name %></strong></h5>
                      <address>
                        <%= store.address1 %>,
                        <%= store.address2 %>
                        <%= store.zipcode %>
                        <%= store.city %>
                        <br>
                        <abbr title="Phone">P:</abbr> <%= store.phone %>
                        <br>
                        <abbr title="">Email:</abbr> <%= store.email %>

                        <!-- FIX BETTER SOLUTION HERE -->
                        <!-- CURRRENT SOLUTION MIGHT BE QUERYING 
                        THE DATABASE TO MANY TIMES -->
                        <% if product_url_for_third_party_store.blank? == true %>
                          <div class="cbp-l-project-details">
                            <a href="<%= store.url %>" target="_blank" class="cbp-l-project-details-visit btn red uppercase"><%= store.url %></a>
                          </div>
                        <% else %>
                          <div class="cbp-l-project-details">
                            <a href="<%= product_url_for_third_party_store %>" target="_blank" class="cbp-l-project-details-visit btn red uppercase"><%= product_url_for_third_party_store %></a>
                          </div>
                        <% end %>
                      </address>
                  </div>
                <% end %>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div id="map" class="" tabindex="-1" role="dialog">
                        <div class="" role="document">
                            <div class="">
                                <div class="">
                                    <div id="map-canvas" style="width:100%; height:450px; display: none;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <% end %>
          </div>
          <!-- /.modal Google Maps-->
      </div>
      <!-- Modal for login-->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!--<div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Sign in to get voucher</h4>
            </div>-->
            <div class="modal-body">
                <% @body_id = 'login' %>
                <div class="col-md-3">
                </div>
                <div class="col-md-6 <%= request.path == spree.login_path ? "" : "" %>">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <!--<h3 class="panel-title"><%= Spree.t(:login_as_existing) %></h3>-->
                        <h2 class="panel-title">LOG IN TO GET VOUCHER</h3>
                    </div>
                      <div id="existing-customer" class="panel-body login" data-hook="login">
                          <% if flash[:error] %>
                            <div class="alert alert-danger"><%= flash[:error] %></div>
                          <% end %>
                          <% @product_url = request.fullpath %>
                          <%= render :partial => 'spree/shared/login_for_modal', :locals => {:@product_url => @product_url.to_s} %>
                          <div class="text-center">
                            <%= Spree.t(:or) %>
                                <%= link_to Spree.t(:create_a_new_account), spree.signup_path %> |
                                <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
                          </div>
                          <div data-hook="login_extras"></div>
                      </div>
                  </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <!--<div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
          </div>
        </div>
      </div>
      <!-- Modal for login-->
    </div>
  <% end %>
</div>


<!-- DO NOT INCLUDE JS LIB TO MAY TIMES - <script src="http://maps.googleapis.com/maps/api/js"></script> -->
<!-- IMPROVE BY MOVING CODE TO APPROPRIATE JS FILES. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7CWMrcq0DUBI4qcn4lJPWXCY2bi8GN0w&libraries=places&callback=initAutocomplete" async defer></script>

<script>
  function displayMap() { // Render the hidden map. http://stackoverflow.com/questions/4064275/how-to-deal-with-google-map-inside-of-a-hidden-div-updated-picture
              $(".buy-online-section").slideUp( "slow", function() {});
              $(".buy-offline-section").slideDown( "slow", function() {});
              $('html, body').animate({
                  scrollTop: $(".buy-offline-section").offset().top
              }, 250); 
              document.getElementById('map-canvas').style.display="block";
              initAutocomplete();
          }

  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
  function initAutocomplete() {
    var bounds = new google.maps.LatLngBounds();
    var map = new google.maps.Map(document.getElementById('map-canvas'), {
      center: {lat: 28.9, lng: 5.62},
      zoom: 2,
      mapTypeId: 'roadmap',
      //styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#87b5db"},{"visibility":"on"}]}]
    });
    // Set initial markers from saved list items.
    // http://stackoverflow.com/questions/15144691/google-maps-multiple-marker-from-extern-json

    $.getJSON(window.location.pathname, function(json1) { // Gets JSON which is @markers variable in lists controller.
        $.each(json1, function(key, data) {
            var latLng = new google.maps.LatLng(data.lat, data.lng);
            bounds.extend(latLng); // This line helps to set the boundary to nly include area with markers.
            // Creating a marker and putting it on the map
            sum_latLng = data.lat + data.lng
            if (sum_latLng == 0) { // Check if long, lat is 0, 0. Then assumes that no adress was given for post by user and 
                                   //skips to create marker.
            } 
              else
            {
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    title: data.title,
                });
                var contentString = // Content for infowindows markers have.
                    '<h5><strong>'+data.title+'</strong></h5>'+
                      '<address class="map-marker-infobox-adress">'+
                        data.store_address1+', '+
                        data.store_zipcode+' '+
                        data.store_city+
                        '<br>'+
                        '<abbr title="Phone">P:</abbr>'+data.store_phone+
                        '<br>'+
                        '<abbr title="">Email:</abbr>'+data.store_email+
                      '</address>';
                var infowindow = new google.maps.InfoWindow({ // Sets the content of infowindows.
                  content: contentString
                });
                marker.addListener('click', function() { // Sets click listener for each post.
                  infowindow.open(map, marker);
                });
            map.fitBounds(bounds); // This line helps to set the boundary to nly include area with markers.
            //https://wrightshq.com/playground/placing-multiple-markers-on-a-google-map-using-api-3/
          }

        });
    });

  }
// The code above creates a new map inside the <div> element with id="googleMap", using the parameters that are passed (mapProp).
</script>
