<!--https://github.com/spree/spree_auth_devise/blob/master/lib/views/frontend/spree/shared/_login.html.erb-->
<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path, remote: true do |f| %>
  <div id="password-credentials">
    <p>
      <%= f.label :email, Spree.t(:email) %>
      <%= f.email_field :email, :class => 'form-control', :tabindex => 1, autofocus: true %>
    </p>
    <p>
      <%= f.label :password, Spree.t(:password) %>
      <%= f.password_field :password, :class => 'form-control', :tabindex => 2 %>
    </p>
  </div>
  <p>
    <%= f.check_box :remember_me, :tabindex => 3 %>
    <%= f.label :remember_me, Spree.t(:remember_me) %>
  </p>
    <%= hidden_field_tag :current_url, @product_url %>
  <p><%= f.submit Spree.t(:login), :class => 'btn btn-lg btn-success btn-block', :tabindex => 4 %></p>
<% end %>