<!--Mobile Menu-->
<div class="visible-xs">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div id="BtnMobilMenu" class="navbar-header text-center">
          <img data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" src="/assets/WYLD_LOGO.png" alt="WYLD logo" style="width:30%; margin-left:30px; margin-top:30px;"/>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav js-filters-juicy-projects">
            <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
            <nav id="taxonomies" class="sidebar-item" data-hook>
              <% @taxonomies.each do |taxonomy| %>

                <% cache [I18n.locale, taxonomy, max_level] do %>

                  <div data-filter="*" class="cbp-filter-item list-group-item hvr-underline-from-left text-uppercase taxonomy-name-drop">
                    <%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %>
                  </div>
                  <!--<h6 class='taxonomy-root'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h6>-->
                  
                  <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
                <% end %>
              <% end %>
            </nav>
              <div data-filter="*" class="cbp-filter-item list-group-item hvr-underline-from-left text-uppercase navbar-drop-button">
                About
              </div>
                  <div class="navbar-dropdown-menu">
                    <a href="/">How it works?</a>
                  </div>
                  <div class="navbar-dropdown-menu">
                    <a href="/">Book a Videographer</a>
                  </div>
                  <div class="navbar-dropdown-menu">
                    <a href="/">WYLD Events</a>
                  </div>
                  <div class="navbar-dropdown-menu">
                    <a href="/">Join us as a label</a>
                  </div>
                  <div class="navbar-dropdown-menu">
                    <a href="/">Join us as a store</a>
                  </div>
                  <div class="navbar-dropdown-menu">
                    <a href="/">Team</a>
                  </div>
              <a href="typography.html" class="cbp-singlePage list-group-item hvr-underline-from-left text-uppercase" data-cbp-singlePage="myCustomSinglePage2">FAQ</a>
              <a href="typography.html" class="cbp-singlePage list-group-item hvr-underline-from-left text-uppercase" data-cbp-singlePage="myCustomSinglePage2">Terms & Conditions</a>
              <a href="typography.html" class="cbp-singlePage list-group-item hvr-underline-from-left text-uppercase" data-cbp-singlePage="myCustomSinglePage2">Privacy</a>
             <a href="typography.html" class="cbp-singlePage list-group-item hvr-underline-from-left text-uppercase" data-cbp-singlePage="myCustomSinglePage2">Careers</a>
              <a href="typography.html" class="cbp-singlePage list-group-item hvr-underline-from-left text-uppercase" data-cbp-singlePage="myCustomSinglePage2">Contact</a>
          </ul>
          <%= render :partial => 'spree/shared/mobile_search_nav_bar' %>
        </div>
      </div>
    </nav>
</div>
<!-- /Mobile Menu-->

<!--Menu-->
<div class="hidden-xs menu">
  <div class="list-group cbp-l-filters-button js-filters-juicy-projects">
      <!--<div data-filter="*" class="cbp-filter-item list-group-item logo">
          <img src="assets/logo.png" alt="img"/>
      </div>-->
      <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
      <nav id="taxonomies" class="sidebar-item" data-hook>
        <% @taxonomies.each do |taxonomy| %>

          <% cache [I18n.locale, taxonomy, max_level] do %>

            <div data-filter="*" class="cbp-filter-item list-group-item hvr-underline-from-left text-uppercase taxonomy-name-drop">
              <%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %>
            </div>
            <!--<h6 class='taxonomy-root'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h6>-->
            
            <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
          <% end %>
        <% end %>
      <a href="typography.html" class="cbp-singlePage list-group-item hvr-underline-from-left text-uppercase" data-cbp-singlePage="myCustomSinglePage2">Stores</a>

      <div data-filter="*" class="cbp-filter-item list-group-item hvr-underline-from-left text-uppercase navbar-drop-button">
        About
      </div>
          <div class="navbar-dropdown-menu">
            <a href="/">How it works?</a>
          </div>
          <div class="navbar-dropdown-menu">
            <a href="/">Book a Videographer</a>
          </div>
          <div class="navbar-dropdown-menu">
            <a href="/">WYLD Events</a>
          </div>
          <div class="navbar-dropdown-menu">
            <a href="/">Join us as a label</a>
          </div>
          <div class="navbar-dropdown-menu">
            <a href="/">Join us as a store</a>
          </div>
          <div class="navbar-dropdown-menu">
            <a href="/">Team</a>
          </div>

      <a href="typography.html" class="cbp-singlePage list-group-item hvr-underline-from-left text-uppercase" data-cbp-singlePage="myCustomSinglePage2">FAQ</a>
      <a href="typography.html" class="cbp-singlePage list-group-item hvr-underline-from-left text-uppercase" data-cbp-singlePage="myCustomSinglePage2">Terms & Conditions</a>
      <a href="typography.html" class="cbp-singlePage list-group-item hvr-underline-from-left text-uppercase" data-cbp-singlePage="myCustomSinglePage2">Privacy</a>
     <a href="typography.html" class="cbp-singlePage list-group-item hvr-underline-from-left text-uppercase" data-cbp-singlePage="myCustomSinglePage2">Careers</a>
      <a href="typography.html" class="cbp-singlePage list-group-item hvr-underline-from-left text-uppercase" data-cbp-singlePage="myCustomSinglePage2">Contact</a>
      </nav>
      <!--Contact-->
      <div class="list-group-item">
          <address>
              <strong>Wivern Digital Limited</strong><br>
              developing Wyld.live<br>
              UK Company Reg. Nr: 07557973<br>
              Represented by Jerome Goerke<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
              <br /><br />
              <a href="#map" data-toggle="modal"><i class="glyphicon glyphicon-map-marker"></i></a>
          </address>
          <address>
              <strong>Contact Us</strong><br>
              <a href="mailto:#">wyld@info.com</a>
          </address>
      </div>
      <!--/Contact-->
  </div>
</div>
<!-- /Menu-->