<p id="notice"><%= notice %></p>

<h1>Fileimports</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fileimports.each do |fileimport| %>
      <tr>
        <td><%= link_to 'Show', fileimport %></td>
        <td><%= link_to 'Edit', edit_fileimport_path(fileimport) %></td>
        <td><%= link_to 'Destroy', fileimport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fileimport', new_fileimport_path %>

<h2>Import Excel file</h2>

<%= form_tag import_fileimports_path, multipart: true do %>
<%= select_tag "type_of_upload", "<option selected='selected'>Please select</option><option>Products + properties upload</option><option>Third party store product URL upload</option>".html_safe %>

  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
